/* src/styles/Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineación a la izquierda */
  padding: 20px;
  max-width: 400px;
  width: 90%;
  background-color: hsl(90, 50%, 60%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  margin: auto;
  margin-top: 50px;
}

.login-title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: left; /* Alineación del título a la izquierda */
  width: 100%;
}

.login-subtitle {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left; /* Alineación del subtítulo a la izquierda */
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #666666;
  background-color: #d9d9d9;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Alineación de botones a la izquierda */
  gap: 10px;
  width: 100%;
}

.login-button,
.register-button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px; /* Tamaño uniforme para ambos botones */
}

.login-button {
  background-color: #4CAF50;
  color: white;
}

.register-button {
  background-color: #5DADE2;
  color: white;
}

.login-button:hover {
  background-color: #45A049;
}

.register-button:hover {
  background-color: #3498DB;
}

.error-message,
.success-message {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left; /* Alineación de mensajes a la izquierda */
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}
