/* src/components/Ganadores.css */

.ganadores-container {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
}

th {
    background-color: #000000;
}

.loader {
    text-align: center;
    font-size: 24px;
}

.mensaje-error {
    color: red;
    text-align: center;
}